ErrorDocument 404 /phonvibe/404.html
AddHandler server-parsed .shtml .shtm .htm .html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [QSA,L]